.nav-container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-left: 400px;
    padding-right: 400px;
}

@media screen and (max-width: 1300px ) {
    .nav-container{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding-left: 0px;
        padding-right: 0px;
    }
}
.nav-button{
    background-color: #b80e0e;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    padding: 1px 18px;
    border-radius: 20px;
    border: 0;
    height: 2rem;
    cursor: pointer;
}
.nav-title{
    color:  #b80e0e;
    font-weight: 1000;
    text-decoration: none;
    font-size: xx-large;
    cursor: pointer;
}
