/* TODO Add site wide styles */
.container {
    background: rgb(231, 229, 229);
    height: 100%;
    width: 100vw;
    display: grid;
    grid-template-columns: 0.6fr 500px 0.6fr;
    grid-template-rows: 60px 6.2fr;
    gap: 0px 30px;
    grid-template-areas:
      "Header Header Header"
      "Topics Feed Follow";
  }
  .Header { grid-area: Header; }
  .Feed { grid-area: Feed; }
  .Topics { grid-area: Topics; }
  .Follow { grid-area: Follow; }

  .Header {
      z-index: 10;
      display: flex;
      background: white;
      border-bottom: lightgray 1px solid;
      box-shadow: 0px 0px 3px 0px lightgray;

  }
.Feed, .Topics, .Follow {
    margin-top: 25px;
}
.Topics{
  display: flex;
  justify-content: flex-end;
}


  /* <div class="container">
  <div class="Title"></div>
  <div class="Links"></div>
  <div class="Buttons"></div>
  <div class="Description"></div>
</div> */
html, body{
    height: 100%;
    margin: 0px;
    padding: 0px;
}

.root{
    height: 100vw;
    z-index: 1;
    background: gray;
}

html {
    background-image: url("../../images/background.jpg");
    opacity: .95;
    z-index: 200;
}

/* @media screen and (max-height: 900px) {
    html{
    background-color: rgb(231, 229, 229);
    background-image: none;
    }
}

@media screen and (max-width: 1000px) {
    html{
    background-color: rgb(231, 229, 229);
    background-image: none;
    }
} */

  .Welcome-container {
    background: none;
    border-radius: 30px;
    display: grid;
    margin-top: 150px;
    height: 700px;
    grid-auto-columns: 1fr;
    grid-template-columns: 1.25fr 1fr 1fr 1.25fr;
    grid-template-rows: 2fr 2.5fr .7fr 1.5fr;
    gap: 0px 0px;
    grid-template-areas:
      ". Title Title ."
      ". Description Buttons ."
      ". Links Links ."
      ". . . .";
  }
  .Title { grid-area: Title; }
  .Links { grid-area: Links; }
  .Buttons { grid-area: Buttons; }
  .Description { grid-area: Description; }

  .Title {
      display:flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background: white;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
  }
  .Title > h1 {
    color:  #b80e0e;
    font-size: 50px;
    margin-bottom: 10px;
    margin-top: 20px;
  }
  .Title > div > p {
        font-size: 18px;
        font: "Lucida Grande", Helvetica, Arial, sans-serif;
        color: rgb(110, 110, 110);
        font-weight: bold;
        padding-left: 10px;
        margin-top: 10px;
  }
  .Links{
    background: rgb(240, 240, 240);
      border-top: solid rgb(221, 221, 221) 1px;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    }
    .Links > a > img {
      height: 30px;
      width: 30px;
      margin-right: 10px;
    }
    .Links > a > img.aa {
      margin-right: 10px;
      filter: invert(100%);
      height: 30px;
      width: 125px;
    }
    .Links > a > img.memehub {
      margin-right: 10px;
      height: 20px;
      width: 100px;

    }

  .Buttons{
      padding-left: 25px;
    background: white;

}
.Description{
    background: white;
    border-right: 1px solid rgb(221, 221, 221);
    border-image: linear-gradient(to bottom, rgb(221, 221, 221) 90%, rgba(0,0,0,0) 75%);
    border-image-slice: 1;
    padding-right: 0px;
    padding-left: 50px;
    padding-bottom: 25px;
}
.signup-button{
  display: flex;
  justify-content: flex-start;

}
