/* .container {
    display: grid;
    grid-template-columns: 0.7fr 570px 0.6fr;
    grid-template-rows: 54px 6.2fr;
    gap: 0px 30px;
    grid-template-areas:
      "Header Header Header"
      "Topics Feed Follow";
  }
  .Header { grid-area: Header; }
  .Feed { grid-area: Feed; }
  .Topics { grid-area: Topics; }
  .Follow { grid-area: Follow; }

   */


div.ask-question{
    display: flex;
    flex-direction: column;
    width: 100%;
    background: white;
    border: solid lightgray 1.5px;
    padding: 5px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 4px 0px lightgray;
}

.p-description {
    padding-left: 5px;
    margin-top: 1px;
    color: black;
    font-weight: 1000;
    font-size: 20px;
    font: "Lucida Grande", Helvetica, Arial, sans-serif;
}

div.feed-content {
    margin: none;
    padding-left: 5px;
    /* font: larger "Lucida Grande", Helvetica, Arial, sans-serif; */
    font-weight: lighter;
    color: black;
    padding-top: 5px;;
}
p.username{
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 5px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    font-weight: light;
    color: black;
    padding-top: 5px;;
}
