.container {
    display: grid;
    grid-template-columns: 0.7fr 570px 0.6fr;
    grid-template-rows: 54px 6.2fr;
    gap: 0px 30px;
    grid-template-areas:
      "Header Header Header"
      "Topics Feed Follow";
  }
  .Header { grid-area: Header; }
  .Feed { grid-area: Feed; }
  .Topics { grid-area: Topics; }
  .Follow { grid-area: Follow; }
