.question-container {
    box-sizing: border-box;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    border: solid gray 1px;
}

.question-click {
    cursor: pointer;
    width: 100%;
}

.question-click > p:hover {
    cursor: pointer;
    width: 100%;
    color:black;
}
.p-question {
    font-size: larger;
    font: "Lucida Grande", Helvetica, Arial, sans-serif;
    color: gray;
    font-weight: bold;
    padding-left: 10px;
    margin-top: 10px;
}
.d-username{
    padding-left: 10px;
    font: smaller "Lucida Grande", Helvetica, Arial, sans-serif;
    font-weight: lighter;
    color: gray;
    padding-top: 15px;;
}
